<div id="orders" class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">

      <h2>Items List</h2>

      <div class="create">
        <%= link_to "Create New Item", new_admin_item_path, class: "btn btn-lg btn-default create" %>
      </div>

      <table class="table">
        <% @items.each do |item| %>
        <tr>
          <td>
          <% if item.retired %>
            retired
            <% else %>
            active
        <% end %>
          </td>
          <td>
            <%= item.title %>
          </td>
          <td>
            <%= item.description %>
          </td>
          <td>
            <%= number_to_currency(item.price.to_f / 100) %>
          </td>
          <td>
            <%= image_tag item.image.url(:thumb) %>
          </td>
          <td>
            <%= link_to "Edit Item", edit_admin_item_path(item) %>
          </td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
