<%= form_for [:admin, @item],:html => { multipart: true } do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
  <ul>
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %> </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, placeholder: "New Item Name" %>
</div>

<div class="field">
  <%= f.label :description, "Item Description" %>
  <%= f.text_field :description, placeholder: "New Item Description" %>
</div>

<div class="field">
  <%= f.label :price, "Item Price" %>
  <%= f.text_field :price, placeholder: "New Item Price" %>
</div>
<div class="field">
  <%= f.file_field :image %>
</div>
<div id="categories">
  <%   @categories.each do |category| %>
  <%=  f.label :category_list, category.name %>
  <%=  check_box(:category_list, "categories", {:multiple => true}, category.name, nil ) %>
  <% end %>
</div>

<div class="action">
  <%= f.submit "Save" %>
</div>
<% end %>
