<div id="session" class="form-horizontal login-modal-info">
  <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control logout" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="col-sm-2 form-group modal-login-button">
          <%= f.submit "Log In", class: "btn btn-default login" %>
        </div>
      </div>
    <% end %>
    <div id="login-modal-register">
  <button type="button" class="btn btn-link btn-default" data-toggle="modal" data-target=".reg-modal">Not Registered?</button>
    </div>
</div>
