<div class="form-horizontal">
  <%= form_for(:session, url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.password_field :password, class: "form-control" %>
  </div>
      <div class="col-sm-2 form-group">
        <%= f.submit "Login", class: "btn btn-default login" %>
      </div>
  <% end %>
</div>
