<div class="form-horizontal reg-form">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fullname, "Full Name", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :fullname, placeholder: "Enter Full Name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :display_name, "Display Name", class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :display_name, placeholder: "Enter Display Name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, placeholder: "Enter Email", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, placeholder: "Enter Password", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, placeholder: "Enter Password Confirmation", class: "form-control" %>
    </div>
  </div>

  <div class="action col-sm-8 register-signup-button">
    <%= f.submit "Sign Up", class: "btn btn-lg btn-default text-right" %>
  </div>

  <% end %>
</div>
