<div class="form-horizontal reg-form">
	<%= form_for [@supplier, user], url: supplier_path(@supplier.slug), method: :put do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fullname, "Full Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :fullname, placeholder: "Enter Full Name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :display_name, "Display Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :display_name, placeholder: "Enter Display Name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.email_field :email, placeholder: "Enter Email", class: "form-control" %>
    </div>
  </div>

	<div class="form-group">
    <%= f.label :role, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
			<%= select :user, :role, [["Admin", 1],["User", 0]], {:multipart => true } %>
    </div>
  </div>

	<div class="action col-sm-7 text-right">
		<%= f.submit "Update", class: "btn btn-lg btn-default text-right" %>
  </div>
<% end %>
