<div id="orders">

<h1>All Orders</h1>
<ul>
  <% @orders.keys.each do |status| %>
    <h3><%= status %></h3>
    <% @orders[status].each do |order| %>
      <li><%= link_to "Order# #{order.id}: ", admin_order_path(order) %>
        <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
        <% if status == :ordered %>
          <%= form_tag(admin_order_path(order.id), method: :put) do %>
          <%= submit_tag("cancel") %> /
          <% end %>
          <%= link_to "mark as paid", admin_orders_path %>
        <% elsif status == :paid %>
          <%= link_to "cancel", admin_orders_path %> /
          <%= link_to "mark as completed", admin_orders_path %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
