<div id="orders">

<h1>All Orders</h1>
<ul>
  <% @orders.keys.each do |status| %>
    <h3><%= status %></h3>
    <% @orders[status].each do |order| %>
      <li><%= link_to "Order# #{order.id}: ", admin_order_path(order) %>
        <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
        <% if status == :ordered %>
          <%= form_tag(admin_order_path(order.id), method: :put,) do %>
            <%= submit_tag("cancel") %>
          <% end %>
          <%= form_tag(admin_order_path(order.id), method: :put) do %>
            <%= submit_tag("mark as paid") %>
          <% end %>
        <% elsif status == :paid %>
          <%= form_tag(admin_order_path(order.id), method: :put) do %>
            <%= submit_tag("cancel") %>
          <% end %>
          <%= form_tag(admin_order_path(order.id), method: :put) do %>
            <%= submit_tag("mark as completed") %>
          <% end %>        
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
