<h2>All Items</h2>
<table>
  <% @items.each do |item| %>
  <tr>
    <td>
      <%= item.title %>
    </td>
    <td>
      <%= item.description %>
    </td>
    <td>
      <%= number_to_currency(item.price.to_f / 100.00) %>
    </td>
    <td>
      <%= image_tag item.image.url(:thumb) %>
    </td>
    <td>
      <%= button_to "Add to Cart", cart_index_path(item_id: item) %>
    </td>
  </tr>
  <% end %>
</table>
