<h2>All Items</h2>
<!-- <% current_suppliers.each do |supplier| %>
<% current_categories.each do |category| %>
	<div class="suppliers categories col-md-3 <%#= supplier.name %> <%#= category.name %>" > -->
  		<% @items.each do |item| %>
  			<% if !item.retired %>
        <div class="suppliers categories col-md-3 <%= item.item_supplier %>">
            <%= item.title %><br>
    				<%= item.description %><br>
    				<%= image_tag item.image.url(:thumb) %><br>
    				<%= number_to_currency(item.price.to_f / 100.00) %><br>
    				<button type="button" class="btn btn-default" data-toggle="modal" data-target="<%= ".#{item.title}" %>">View More Info</button></br>
    				<div class="modal fade <%= "#{item.title}" %>"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      				<div class="modal-dialog modal-md">
        				<div class="modal-content">
    						  <div id="item_show" class="row">
        				 		<div class="col-md-4">
              				<%= image_tag item.image.url(:medium) %>
              			</div>
              			<div class="col-md-8">
                			<h2><%= item.title %></h2>
                			<p><%= item.description %></p>
                		  <p><b>price: <%= number_to_currency(item.price.to_f / 100.00) %></b></p>
                			<% if !item.retired %>
                				<%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-lg btn-default" %>
                		  <% end %>
    							 	</div>
    							</div>
      					</div>
      				</div>
      			</div>
    				<%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-default" %>
    			</div>
			<% end %>
		<% end %>
  <!-- </div>
<% end %>
<% end %> -->

<div class="filters sidebar">
  <h4>Filter by Category</h4>
    <%= render partial: "partials/categories" %>
  <h4>Filter by Supplier</h4>
    <%= render partial: "partials/supplier_list" %>
</div>
