<div class="row">
  
  <%= render 'partials/sidebar' %>

  <div class="row-items">
    <div id="col-md-3">
    	<% @items.each do |item| %>
    		<% if !item.retired %>
        <div class="suppliers categories item-box col-md-3 <%= item.item_supplier %> <%= render partial: "/partials/categories_class", locals: {item: item} %>" >
          <div id="item-list">
            <div id="item-image">
              <p>
                <%= image_tag item.image.url(:thumb) %>
              </p>
            </div>
              <div id="item-info">
              <button type="button" class="btn btn-link view-btn" data-toggle="modal" data-target=".<%= item.title.split.join %>">View More Info</button></br>
              <h5>
                <%= item.title %>
              </h5>
              <p>
                <%= number_to_currency(item.format_price) %>
              </p>
              <% if !current_user || current_user && !current_user.supplier? %>
                <%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-default" %>
              <% end %>
            </div>
          </div>

          <div class="modal fade <%= item.title.split.join %>"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div id="item_show" class="row">

                  <div class="row">
                    <div class="col-md-12 modal-title">
                      <h2><%= item.title %></h2>
                    </div>
                  </div>

                  <div class="row modal-box">
                    <div class="row">                
                      <div class="col-md-6 modal-item-image">
                        <%= image_tag item.image.url(:medium) %>
                      </div>
                      
                      <div class="col-md-6 modal-item-details">
                        <p><%= item.description %></p>
                        <p><b>Price: <%= number_to_currency(item.format_price) %></b></p>
                        <p>Quantity Available: <%= item.quantity %></p>
                        <p>Current Location: <%= item.location %></p>
                        <p>Unit Size: <%= item.unit_size %> </p>
                        <p>Unit Weight: <%= item.unit_weight %> lbs.</p>
                        <p><%= item.item_available %></p>
                        <p><%= item.item_shippable %></p>
                      </div>                  
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12 modal-cart-button">
                        <% if !current_user || current_user && !current_user.supplier? %>
                          <%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-lg btn-default" %>
                        <% end %>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          
     			</div>
      	<% end %>
      <% end %>
    </div>
  </div>
</div>
