<div class="row">
  <div class="filters sidebar col-md-3">
    <h2>All Items</h2>
    <h4>Filter by Category</h4>
    <%= render partial: "partials/categories" %>
    <h4>Filter by Supplier</h4>
    <%= render partial: "partials/supplier_list" %>
  </div>
  <div class="row-items">
    <div id="col-md-3">
    	<% @items.each do |item| %>
    		<% if !item.retired %>
        <div class="suppliers categories col-md-3 <%= item.item_supplier %> <%= render partial: "/partials/categories_class", locals: {item: item} %>" >
          <div id="item-list">
            <div id="item-image">
              <p>
                <%= image_tag item.image.url(:thumb) %>
              </p>
            </div>
            <button type="button" class="btn btn-link view-btn" data-toggle="modal" data-target=".<%= item.title.split.join %>">View More Info</button></br>
            <h5>
              <%= item.title %>
            </h5>
            <p>
              <%= item.description %>
            </p>
            <p>
              <%= number_to_currency(item.price.to_f / 100.00) %>
            </p>
            <%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-default" %>
          </div>
          <div class="modal fade <%= item.title.split.join %>"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
        				<div class="modal-content">
    						  <div id="item_show" class="row">
        				 		<div class="col-md-4">
              				<%= image_tag item.image.url(:medium) %>
              			</div>
              			<div class="col-md-8">
                			<h2><%= item.title %></h2>
                			<p><%= item.description %></p>
                		  <p><b>price: <%= number_to_currency(item.price.to_f / 100.00) %></b></p>
                			<% if !item.retired %>
                				<%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-lg btn-default" %>
                		  <% end %>
    							 	</div>
    							</div>
      					</div>
      				</div>
      			</div>

   			</div>
      	<% end %>
      <% end %>
    </div>
  </div>
</div>
