<table>
  <% @listing.each do |list_item| %>
  <tr>
    <td>
      <%= list_item.title %>
    </td>
    <td>
      <%= list_item.description %>
    </td>
    <td>
      <%= list_item.price %>
    </td>
    <td>
      <%= list_item.image %>
    </td>
    <td>
      <%= button_to "Add to Cart", cart_index_path(item_id: list_item) %>
    </td>
  </tr>
  <% end %>
</table>
