<h3><%= @category.name %> Supplies</h3>
<table class="table">
  <tr><th>Item</th><th></th><th>Description</th><th>Price</th><th></th></tr>
  <% @listing.each do |list_item| %>
  <tr>
      <% if !list_item.retired %>
    <td>
      <%= link_to list_item.title, item_path(list_item) %>
    </td>
    <td>
      <%= image_tag list_item.image.url(:thumb) %>
    </td>
    <td>
      <%= list_item.description %>
    </td>
    <td>
      <%= number_to_currency(list_item.price.to_f / 100.00) %>
    </td>
    <td>
      <%= button_to "Add to Cart", cart_index_path(item_id: list_item), class: "btn btn-default" %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
