<% if @address %>
  <h5>Shipping Address:</h5>
    <p>
      <%= @address.line_one %></br>
      <%= @address.line_two %></br>
      <%= @address.city %></br>
      <%= @address.state %></br>
      <%= @address.postal_code %></br>
      <%= @address.country %>
    </p>
<% elsif @coordinates %>
  <h5>Delivery Coordinates:</h5>
<% else %>
  <h5>Delivery Method:</h5>
    <p>
      Pick-up
    </p>
<% end %>
