<!DOCTYPE html>
<html>
<head>
  <title>Airlift</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta charset=utf-8 />
</head>

<body>


<%= render partial: './partials/header' %>

<div class="row container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert-danger col-md-12 text-center muted", role: "alert" %>
    <% end %>
</div>

<%= yield %>

<% if current_user.present? && current_user.admin? %>
	<%= render partial: "./partials/admin_footer" %>
<% end %>

  <%= javascript_include_tag 'application' %>

</body>
</html>
